################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/python/.vs/python/v16
/python/python.pyproj
/python/python.sln

.config_files
config_files/*.conf
!config_files/sppconnections_default.conf
